<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en" >

<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href= https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css>
</head>
<script th:if="${hasError != null}">
    $(function () {
        $('#myModal').modal('show');
    });
</script>

<body>
<div class = 'row'>
    <div class = 'col-2'>
        <div class="nav flex-column nav-pills" role="tablist">
            <a class="nav-link active" href="/admin" >Admin</a>
            <a class="nav-link" href="/user" >User</a>
        </div>
    </div>

    <div class = 'col-8'><div class="tab-content" id="myTabContent">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users Table</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h4>All users</h4>
                <table class="table table-striped" id="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                    <tbody>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <!--Form code start from here  -->
                                    <!-- Form Name -->
                                    <legend>Edit user </legend>
                                    <form class="form-group mt-0 pt-1">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="id">ID</label>
                                            <div class="col-md-4">
                                                <input id="id" name="id" type="text" placeholder="id" class="form-control input-md" />
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="login">Login</label>
                                            <div class="col-md-4">
                                                <input id="login" name="login" type="text" placeholder="Login" class="form-control input-md" />
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="password">Password</label>
                                            <div class="col-md-4">
                                                <input id="password" name="password" type="text" placeholder="password" class="form-control input-md"/>
                                            </div>
                                            <select class="form-control" name="role" id="role">
                                                <option id = "4" value="2">user</option>
                                                <option id="3" value="1">admin</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                                        <button id="updatebutton" class="form-group-item btn btn-info">Update user</button>
<!--                                        <button id="savebutton" class="btn btn-primary">Add User</button>-->
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h4>Add new user</h4>
                <div class="container my-5">
                    <h3> Add User</h3>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Login</label> <input type="text" name="login" id="newlogin"   class="form-control" >
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Password</label> <input type="text" name="password" id="newpassword"   class="form-control" >
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Role</label>
                                    <select class="form-control" name="role" id="newrole">
                                        <option id = "2" value="2">user</option>
                                        <option id="1" value="1">admin</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button id="savebutton" class="btn btn-primary">Add User</button>
                                </div>
                                <div class="form-group col-md-8"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


<script src="jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="/ajax_methods.js"></script>

<li><form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button></form></li>

</body>
</html>
